<footer class="primary-footer">
<!--   <div class="subscribe-newsletter-area">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="text-center common-heading"> Subscribete a Terramar </div>
          <p class="text-center">New products, new ideas and a whole bunch of madness delivered to your inbox as it happens!</p>
          <form>
            <div class="row">
              <div class="col-sm-5 form-group">
                <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
              </div>
              <div class="col-sm-5 form-group">
                <input type="text" class="form-control" id="inputEmail3" placeholder="Name">
              </div>
              <div class="col-sm-2 form-group">
                <button class="btn btn-block btn-subscribe">
                  SUBSCRIBE
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div> -->

  <div class="container">
    <div class="row">
      <div class="col-sm-4">

        <ul class="social">
          <li>
            <a href="javascript:void(0);" class="fa fa-facebook"></a>
          </li>
          <li>
            <a href="javascript:void(0);" class="fa fa-twitter"></a>
          </li>
          <li>
            <a href="javascript:void(0);" class="fa fa-instagram"></a>
          </li>
          <li>
            <a href="javascript:void(0);" class="fa fa-youtube-square"></a>
          </li>
        </ul>

      </div>
      <div class="col-sm-8">
        <div class="row">
          <div class="col-sm-3">
            <h3 class="decorated-heading">
              <span>Compañía</span>
            </h3>
            <ul class="footer-nav">
              <li><a href="javascript:void(0);">Contactos</a></li>
              <li><a href="javascript:void(0);">Acerca de Nostros</a></li>
            </ul>
          </div>
          <div class="col-sm-3">
            <h3 class="decorated-heading">
              <span>Necesitas Ayuda</span>
            </h3>
            <ul class="footer-nav">
              <li><a href="javascript:void(0);">Ayudame Maquillaje</a></li>
              <li><a href="javascript:void(0);">Cuidado de la piel</a></li>
            </ul>
          </div>
          <div class="col-sm-3">
            <h3 class="decorated-heading">
              <span>Más Información</span>
            </h3>
            <ul class="footer-nav">
              <li><a href="javascript:void(0);">Blog</a></li>
              <li><a href="javascript:void(0);">Careers</a></li>
            </ul>
          </div>
          <div class="col-sm-3">
            <h3 class="decorated-heading">
              <span>Encuentranos</span>
            </h3>
            <ul class="footer-nav">
              <li><a href="javascript:void(0);">41511130222</a></li>
              <li><a href="javascript:void(0);">terramarbrands.com.mx</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>



</footer>
